* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

body{ 
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #9b59b6, #71b7e6);
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 15px 10px;
  position: absolute;
  width: 100%;
  margin-bottom: 44%;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.divider{
  background-color:blue;
  position: absolute;
  margin-bottom: 38%;
  height:7px;
  width: 100%;
  
}

.topnav {
  overflow: hidden;
  background-color: #38b3d9;
  position: absolute;
  width: 100%;
  margin-bottom: 34%;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.split {
  float: right;
  background-color: #04AA6D;
  color: white;
  padding: 14px;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.container{
  background: #fff;
  max-width: 700px;
  width: 100%;
  margin-top: 200px;
  border-radius: 5px;
  padding: 25px 30px;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
}
.container .title::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
  bottom: 0;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}
.user-details .input-box input{
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  height: 45px;
  width: 100%;
  border-bottom-width:2px;
  transition: all 0.3s ease;
}
.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
}
form .gender-details .category{
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
.gender-details .category label{
  display: flex;
  align-items: center;
}
.gender-details .category .dot{
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
  border-color: #d9d9d9;
  background: #9b59b6;
 }
 form input[type="radio"]{
  display: none;
 }
 form .button{
  height: 45px;
  width: 45px 0;
 }
 form .button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  letter-spacing: 1px;
  background:linear-gradient(135deg, #3399ff 0%, #00ffff 100%);
 }
 .gnbtn{
  border: none;
 }
 form .button input:hover{
    background: linear-gradient(-135deg, #3399ff 0%, #00ffff 100%);
}
 @media (max-width: 584px){
   .container{
    max-width: 100%;
 }
 form .user-details .input-box{
  width: 100%;
  margin-bottom: 15px;
}
form .gender-details .category{
  width: 100%;
  
}
.container form .user-details{
  max-height: 300px;
  overflow-y: scroll;
}
.user-details::-webkit-scrollbar{
  width: 0;
}


